.file-untracked .nav-file-title-content {
    color: #F47174 !important;
}

.file-modified .nav-file-title-content {
    color: #E2C08D !important;
}

.file-staged .nav-file-title-content {
    color: #73C991 !important;
}
